@model List<ServerDashboard.models.Client>

<h2>Select Client</h2>

<ul>
@foreach (var client in Model)
{
    <li>
        <a href="/Dashboard/Client/@client.ClientId">
            @client.ClientName
        </a>
    </li>
}
</ul>
